html
{
  text-align: center;
  height: 100%;
  background-color: lightgray;

}
body
{
  margin-bottom: 75px;
}

.bottomofpage {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  height: 75px;

}

.siteinfo
{
  font-size: 30px;
  margin-top: 10%;
}

.title
{

}

.navigation
{
  padding: 20px;
}

.currentpage
{
  padding: 20px;
  font-weight: bold;
}

.form_div
{
  margin: 0 auto;
  display: table;
  margin: 5%;
}

.dblock
{
  display: block;
  margin: 20px auto;

}