html
{
  text-align: center;

}
body
{
  background-color: lightblue;
}

footer
{

}

.title
{

}

.navigation
{
  padding: 20px;

}

.form_div
{
  margin: 0 auto;
  display: table;

}

.bottom
{
  bottom: 0px;

}

.dblock
{
  display: block;
  margin-top: 20px;
  

}
